<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
              "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
              
<mapper namespace="kr.co.gotthem.mybatis.ProductMapper">

	<select id="plist" resultType="kr.co.gotthem.product.bean.ProductBean" parameterType="java.util.HashMap">
		select * from product where pro_memno = #{pro_memno} order by pro_code desc limit #{beginList}, 10 
	</select>
	
	<select id="plistCount" resultType="int" parameterType="int">
		select count(*) from product where pro_memno = #{pro_memno}
	</select>
	
	<select id="findCode" resultType="kr.co.gotthem.product.bean.ProductBean">
		select * from product where pro_code = #{pro_code}
	</select>
	
	<update id="updatePro" parameterType="kr.co.gotthem.product.bean.ProductBean">
		update product set
		pro_name = #{pro_name},
		pro_category = #{pro_category},
		pro_stock = #{pro_stock},
		pro_price = #{pro_price},
		pro_comment = #{pro_comment},
		pro_img = #{pro_img}
		where
		pro_code = #{pro_code}
	</update>
	
	<delete id="deletePro" parameterType="int">
		delete from product where pro_code = #{pro_code}
	</delete>
	
	<insert id="insertPro" parameterType="kr.co.gotthem.product.bean.ProductBean">
		insert into product(
		pro_name, pro_memno, pro_category, pro_stock, pro_price, pro_img)
		values(
		#{pro_name}, #{pro_memno}, #{pro_category}, #{pro_stock}, #{pro_price}, #{pro_img})
	</insert>
	
	<select id="searchList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select distinct m.mem_no as mem_no, m.sto_name as sto_name, m.mem_address as mem_address,
			m.sto_img as sto_img, m.mem_phone as mem_phone
		from member m, product p
		where m.mem_no=p.pro_memno and p.pro_name like concat('%', #{search}, '%')
			or m.sto_name like concat('%', #{search}, '%')
		order by p.pro_name, m.sto_name
		limit #{beginList}, 10 
	</select>
	
	<select id="productInfo" parameterType="java.util.HashMap" resultType="kr.co.gotthem.product.bean.ProductBean">
		select * from product where pro_memno = #{mem_no} and pro_category = #{category} order by pro_name
	</select>
	
	<select id="productSearchList" resultType="kr.co.gotthem.product.bean.ProductBean">
		select * from product where pro_memno = #{mem_no} and pro_name like concat('%', #{productSearch}, '%')
		order by pro_name
	</select>
	
	<select id="searchListCount" resultType="int" parameterType="String">
		select count(distinct sto_name)
		from member m, product p
		where m.mem_no=p.pro_memno and p.pro_name like concat('%', #{search}, '%')
			or m.sto_name like concat('%', #{search}, '%')
	</select>
	
	<select id="productDetail" resultType="kr.co.gotthem.product.bean.ProductBean">
		select * from product where pro_code = #{pro_code}
	</select>
	
	<select id="productSearchStock" resultType="int" >
		select pro_stock from product where pro_code = #{pro_code}
	</select>
	
	<select id="selectStoName" resultType="String" >
		select sto_name from member where mem_no = #{pro_memno}
	</select>
</mapper>