<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
              "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
              
<mapper namespace="kr.co.gotthem.mybatis.StoreMapper">

	<select id="list" resultType="kr.co.gotthem.store.bean.StoreBean">
		select * from store 
	</select>
	
	<select id="FindById" resultType="kr.co.gotthem.store.bean.StoreBean">
		select * from store where sto_id = #{sto_id}
	</select>
	
	<insert id="join" parameterType="kr.co.gotthem.store.bean.StoreBean">
		insert into store (sto_id, sto_pw, sto_owner, sto_name, sto_address, sto_registno, sto_phone, sto_email
		,sto_regdate, sto_status, enabled)
		values (#{sto_id}, #{sto_pw},#{sto_owner}, #{sto_name}
		,#{sto_address},#{sto_registno},#{sto_phone}, #{sto_email}, curtime(), 'ROLE_TELLER', 0)
	</insert>
	
</mapper>
